
body{}

header {
    background: #BBBBBB ;
    padding: 20px 0;
}
.caixa {
    position: relative;
    width:940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;

}
.produtos li {
    display: inline;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

  nav li {
    display: inline;
    margin: 0 0 0 15px;
}
.titulo-principal{
    padding-left: 20px;}
    #banner {
        width:100%;
    }
    .principal{
        background-color: #cccccc;
    padding:30px;
    }
    .titulo-centralizado{
        text-align: center
    }
     
   

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none ;
}

nav a:hover{
    color: darkblue;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding:50px 0;
}

    
        p {
            text-align: center
         }

        #missao {
            font-size:20px
        }
    
        em strong{
            color:red;
        }

        .itens {
            font-style: italic
        }

        .beneficio{                                  background:#FFFFFF;
            padding: 20px;
        }
    
        
        ul  {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            margin-right: 2%;
         
     }  

    .imagembeneficios  
        {
            width:50%
        }

footer {
    text-align: center;
    background:url(bg.jpg);
    padding: 40px 0;
}
.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}